@{
    ViewData["Title"] = "Do it yourself";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>
</div>
             <iframe width="380" height="240" src="https://www.youtube.com/embed/oFlXxXlMJBg"
                    title="come costruire una pala eolica"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <iframe width="380" height="240" src="https://www.youtube.com/embed/jigsS21LQBw"
                    title="40 SEMPLICI E GENIALI IDEE PER RICICLARE"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
            <iframe width="380" height="240" src="https://www.youtube.com/embed/YZp5lLve6Pg"
                    title="Come RIUTILIZZARE BOTTIGLIE di PLASTICA: 10 idee FACILISSIME"
                    frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
                </iframe>
            <iframe width="380" height="240" src="https://www.youtube.com/embed/ls6xBoy4F-I" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen></iframe>
