@{
    ViewData["Title"] = "Do it yourself";
}
<div class="container">
    <h1>@ViewData["Title"] page title</h1>
    <p>paragraph of @ViewData["Title"]</p>
</div>
<iframe width="380" height="240" src="https://www.youtube.com/embed/oFlXxXlMJBg" 
title="come costruire una pala eolica" 
frameborder="1" 
allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/RaB2lTrbqpE" 
title="YouTube video player" frameborder="0" allow="accelerometer; 
autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
allowfullscreen></iframe>