@{
    ViewData["Title"] = "Reuse it";
}
<style>
body{
        background-image: url('image/economiacircolare_editoriale.jpeg');
        background-size:cover;
}

</style>
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>@ViewData["Title"] è un progetto che favorisce l'economia circolare permettendo a privati cittadini 
        di prestarsi o scambiarsi oggetti in maniera digitale.
        Ciascun utente registrato alla piattaforma potrà esporre 
        degli oggetti che intende regalare o prestare ad altri.</p>
</div>

