@using Reuse_it.Enumerations
@model Size

<style>
    #selectsize{
        display:inline;
        width:75px
    }
</style>

<div>
   Grandezza:
        @Html.TextBoxFor(m => m.height)
        @Html.TextBoxFor(m => m.width)
        @Html.TextBoxFor(m => m.depth)
    <select id="selectsize" asp-for="unit" asp-items="Html.GetEnumSelectList<Unit>()" class="form-control"></select>
    <span asp-validation-for="unit" class="text-danger"></span>
</div>